<%- include('../base/header', { header: { title: "OmniBetter - Modification du mot de passe" ,
  css: "connect/password" } }) %>

<main>
  <h1 class="body__main__h1">Mot de passe</h1>
  <p class="body__main__path"><a href="/connect/account">Mon compte</a><span>/</span>Mot de passe</p>
  <section class="body__main__password">
    <form action="/connect/account/edit/password" class="body__main__password__form" method="post">
      <% if (data.check?.status) { %>
      <div class="body__main__password__form__check">
        <p><%= data.check?.value %></p>
      </div>
      <% } %>
      <% if (data.errorForm?.status) { %>
      <div class="body__main__password__form__error">
        <p><%- data.errorForm?.value %></p>
      </div>
      <% } %>
      <section class="body__main__password__form__currentPassword">
        <label for="currentPasswordId">Mot de passe actuel</label>
        <div class="body__main__password__form__currentPassword__input">
          <input <%= data.check?.disabled ? "disabled" : "" %> type="password" required placeholder="Votre mot de passe actuel" autocomplete="current-password" name="currentPassword" id="currentPasswordId" value="<%= data.value?.currentPassword %>">
          <i class="fa-solid fa-eye-slash"></i>
        </div>
        <small class="small__form__currentPassword"><%= data.errorForm?.currentPassword %></small>
      </section>

      <section class="body__main__password__form__newPassword">
        <label for="newPasswordId">Nouveau mot de passe</label>
        <div class="body__main__password__form__newPassword__input">
          <input <%= data.check?.disabled ? "disabled" : "" %> type="password" required placeholder="Nouveau mot de passe" autocomplete="current-password" name="newPassword" id="newPasswordId" maxlength="25" value="<%= data.value?.newPassword %>">
          <i class="fa-solid fa-eye-slash"></i>
        </div>
        <small class="small__form__newPassword"><%= data.errorForm?.newPassword %></small>
      </section>

      <section class="body__main__password__form__retypePassword">
        <label for="retypePasswordId">Retapez le mot de passe</label>
        <div class="body__main__password__form__retypePassword__input">
          <input <%= data.check?.disabled ? "disabled" : "" %> type="password" required placeholder="Reptapez le mot de passe" autocomplete="current-password" name="retypePassword" id="retypePasswordId" maxlength="25">
          <i class="fa-solid fa-eye-slash"></i>
        </div>
        <small class="small__form__retypePassword"><%= data.errorForm?.retypePassword %></small>
      </section>

      <div class="body__main__password__form__submit">
        <input disabled type="submit" value="Modifier">
      </div>
    </form>
    <div class="body__main__separation"></div>
    <section class="body__main__password__form__history">
      <h2 class="body__main__password__form__history__h2">Historique de modification</h2>
      <section class="body__main__password__form__history__manager">
        <% data.history.forEach(passwordHistory => { %>
        <section class="body__main__password__form__history__manager__container">
          <div class="body__main__password__form__history__manager__container__left">
            <i class="fa-solid fa-arrow-right"></i>
            <p>mot de passe</p>
          </div>
          <% 
            function formatDate(date) {
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            let hours = date.getHours();
            let minutes = date.getMinutes();
            hours = (hours <= 9) ? `0${hours}` : hours;
            minutes = (minutes <= 9) ? `0${minutes}` : minutes;
            const formattedDay = (day <= 9) ? `0${day}` : day;
            const formattedMonth = (month <= 9) ? `0${month}` : month;
            const formattedDate = `${formattedDay}/${formattedMonth}/${year} ${hours}:${minutes}`;
            return formattedDate;
          }
          const date = new Date(passwordHistory.create_time);
          const formattedDate = formatDate(date);
        %>
          <p class="body__main__password__form__history__manager__container__rigth"><%= formattedDate %></p>
        </section>
        <% }) %>
      </section>
    </section>
  </section>
  <script src="/connect/password.js"></script>
</main>

<%- include('../base/footer') %>