<%- include('../base/header', { header: { title: "OmniBetter - Réinitialisation du mot de passe" ,
  css: "gateway/reset-password" } }) %>

<main>
  <section class="body__main__resetPassword">

    <% if (!data.id) { %>
    <section class="body__main__resetPassword__left">
      <h1 class="body__main__resetPassword__left__h1">Réinitialisation</h1>
      <p class="body__main__resetPassword__left__p">
        Vous avez <span>oublié</span> votre mot de passe lors de votre connexion à votre compte ?
        <span>Réinitialisez-le maintenant</span> en entrant votre e-mail associé à votre compte et recevez le lien de réinitialisation directement.
        <br><br>
        En cas de problème avec votre compte, n'hésitez pas à <span>contacter notre service</span> de support dédié.
        Notre équipe sera ravie de répondre à vos questions et de s'efforcer de <span>satisfaire vos besoins</span>.
      </p>
    </section>
    <section class="body__main__resetPassword__rigth">
      <% if (data.error?.status) { %>
      <div class="body__main__resetPassword__rigth__error">
        <p><%= data.error?.value %></p>
      </div>
      <% } %>
      <% if (data.check?.status) { %>
      <div class="body__main__resetPassword__rigth__check">
        <p><%= data.check?.value %></p>
      </div>
      <% } %>
      <form action="/reset-password" method="post" class="body__main__resetPassword__rigth__form">
        <div class="body__main__resetPassword__rigth__form__email">
          <label for="inputEmailId">Adresse e-mail</label>
          <input type="email" maxlength="255" required placeholder="Votre adresse e-mail" id="inputEmailId" name="inputEmail" autocomplete="email" value="<%= data.value?.inputEmail %>">
        </div>
        <div class="body__main__resetPassword__rigth__form__submit">
          <button disabled type="submit" name="submitButton" value="sendReset">Réinitialisez</button>
        </div>
        <a href="/signup" class="body__main__resetPassword__rigth__anyAccount">Vous ne disposez pas encore d'un compte ? Créez le vôtre maintenant.</a>
      </form>
    </section>
    <% } else { %>
    <section class="body__main__editPassword__left">
      <h1 class="body__main__editPassword__left__h1">Réinitialisation</h1>
      <p class="body__main__editPassword__left__p">
        Pour garantir la sécurité de votre compte, nous vous recommandons de choisir un mot de passe sécurisé, empêchant toute personne malveillante d'y accéder.<br>
        Nos critères pour les mots de passe sont les suivants : <span>8 caractères</span>, <span>1 majuscule</span>, <span>1 minuscule</span> et <span>1 chiffre</span>.
        <br>
        Si vous avez des difficultés à choisir un mot de passe, nous vous conseillons de visiter le site <a href="https://www.dashlane.com/fr/features/password-generator">Dashlane</a>, qui peut vous fournir un mot de passe robuste et adapté à vos besoins.
        <br><br>
        En cas de problème avec votre compte, n'hésitez pas à <span>contacter notre service</span> de support dédié.
        Notre équipe sera ravie de répondre à vos questions et de s'efforcer de <span>satisfaire vos besoins</span>.
      </p>
    </section>
    <section class="body__main__editPassword__rigth">
      <% if (data.check?.status) { %>
      <div class="body__main__editPassword__rigth__check">
        <p><%= data.check?.value %></p>
      </div>
      <% } %>
      <form action="/reset-password" method="post" class="body__main__editPassword__rigth__form">
        <section class="body__main__editPassword__rigth__form__password">
          <label for="inputPasswordId">Nouveau mot de passe</label>
          <div class="body__main__editPassword__rigth__form__password__input">
            <input <%= data.check?.disabled ? "disabled" : "" %> type="password" maxlength="25" required placeholder="Nouveau mot de passe" id="inputPasswordId" name="inputPassword" autocomplete="new-password" value="<%= data.value?.inputPassword %>">
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <small class="small__form__inputPassword"><%= data.error?.inputPassword?.value %></small>
        </section>

        <section class="body__main__editPassword__rigth__form__retype">
          <label for="inputRetypeId">Retapez le mot de passe</label>
          <div class="body__main__editPassword__rigth__form__retype__input">
            <input <%= data.check?.disabled ? "disabled" : "" %> type="password" maxlength="25" required placeholder="Retapez le mot de passe" id="inputRetypeId" name="inputRetype" autocomplete="new-password">
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <small class="small__form__retypePassword"><%= data.error?.inputRetype?.value %></small>
        </section>

        <div class="body__main__editPassword__rigth__form__submit">
          <input type="hidden" value="<%= data.id %>" name="resetPasswordId">
          <button disabled type="submit" name="submitButton" value="editPassword">Valider</button>
        </div>
      </form>
    </section>
    <%  } %>

  </section>
  <script src="/gateway/reset-password.js"></script>
</main>
<%- include('../base/footer') %>